<style>
    .container {
        padding: 20px;
    }
    
</style>


<!doctype html>
<html>
    <head>
        <title>Emoji Generation</title>
    </head>
    <body style="background-color: #fffefd;">
        <div class="container">
            <h2> Welcome to the Text to Emoji Generator!</h2>
            <p style="font-size: 18px;">Please enter text in the textbox below and see if we can accurately
            process its meaning with emojis!</p>
            
            {% from "_formhelpers.html" import render_field %}
            
            <form method=post action="/results">
                {{ render_field(form.text, cols='50', rows='10') }}
                <br>
                <input type=submit value='Submit' name='submit_btn'>
            </form>
        </div>
    </body>
</html>
